.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.function {
  @apply text-brand;
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.operator,
.token.pseudo-class,
.token.important {
  @apply text-blue-400;
}

.token.attr-value,
.token.class,
.token.string,
.token.number,
.token.unit,
.token.color {
  @apply text-green-500;
}

.token.punctuation,
.token.module,
.token.property {
  @apply text-blue-200;
}

.token.atapply .token:not(.rule):not(.important) {
  color: inherit;
}

.language-shell .token:not(.comment) {
  color: inherit;
}

.language-css .token.function {
  color: inherit;
}

.token.comment {
  @apply text-gray-400;
}

.token.deleted:not(.prefix) {
  @apply relative block px-4 -mx-4;
}

.token.deleted:not(.prefix)::after {
  content: '';
  @apply absolute inset-0 block bg-opacity-25 pointer-events-none bg-rose-400;
}

.token.deleted.prefix {
  @apply text-gray-400 select-none;
}

.token.inserted:not(.prefix) {
  @apply block px-4 -mx-4 bg-green-700 bg-opacity-50;
}

.token.inserted.prefix {
  @apply text-green-200 text-opacity-75 select-none;
}